@using System
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Products</div>
        <div class="panel-body">
       

        <div class="list-group infinite-scroll scroll"  data-ui="jscroll-default">
            @Html.Partial("LinksPartitialView")
        </div>
      </div>
    

    </div>

    
</div>

  

             
             
             
             
             
             
             
             
             
             
  